<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogifier - A blogging platform</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/styles.css" rel="stylesheet">
</head>


<body>
    @RenderBody()
    
    <footer class="footer">
        <div class="container clearfix">
            <p class="float-md-left">Copyright &copy; 2017 Blogifier - All Rights Reserved.</p>
            <ul class="nav nav-social float-md-right">
                <li><a href="https://twitter.com/blogifierdotnet/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/blogifierdotnet/blogifier/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://facebook.com/blogifierdotnet/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>

</html>
