@{
    ViewData["Title"] = "About";
}
<section class="page container ">
    <h1 class="page-title">Getting started</h1>
    <div class="page-content">
        <h2 id="system-requirements">System Requirements</h2>

        <ul>
            <li>Windows or Linux</li>
            <li>ASP.NET Core 2.0</li>
            <li>Visual Studio 2017 or VS Code</li>
        </ul>

        <h2 id="getting-started">Getting Started</h2>

        <ol>
            <li>Clone or download source code</li>
            <li>Run it in Visual Studio or VS Code</li>
            <li>Log in (admin@us.com / Blog@fier1) or register new user</li>
            <li>Write and publish posts</li>
        </ol>

    </div>
</section>
