@{
    ViewData["Title"] = "Getting Started";
}
<section class="page container ">
    <h1 class="page-title">Getting started</h1>
    <div class="page-content">
        <h2 id="system-requirements">System Requirements</h2>
        <ul>
            <li>Windows, Mac or Linux</li>
            <li>ASP.NET Core 2.0</li>
            <li>Visual Studio 2017, VS Code or other code editor (Atom, Sublime etc)</li>
        </ul>
        <h2 id="getting-started">Getting Started</h2>
        <ol>
            <li>Clone or download source code</li>
            <li>Run application in Visual Studio or using your code editor</li>
            <li>Click "Login" when page loaded in the browser and register new user</li>
            <li>Login as registered user and go to /admin to write and publish posts</li>
        </ol>

    </div>
</section>
