.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #aaa;

  p {
    margin: 0;
    line-height: 2rem;
  }
}

.nav-social {
  a {
    display: block;
    color: #aaa;

    &:hover {
      background: #333;
      color: #fff;
    }
  }

  i {
    text-align: center;
    font-size: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
