@{
    ViewData["Title"] = "An open source blogging platform";
    ViewData["TwitterCardType"] = "summary_large_image";
}

<section class="container content">
    <h1 class="hero-title text-center">Blogifier, an <a href="https://github.com/blogifierdotnet/blogifier/" target="_blank">open source</a> blogging platform!</h1>
    <p class="hero-desc">Blogifier is simple, beautiful, light-weight open source blog written in .NET Core. It is cross-platform, extendable and customizable web application, that brings all expected from modern blog in small, portable package. By default, it uses file-based SQLite database, scaling up to any Entity-Framework compatible data storage.</p>
    <div class="owl-carousel slider slider-lg">
        <figure>
            <img src="~/files/design/v1.5/01.jpg" alt="Editor - Blogifier Version 1.5" />
            <figcaption>Editor - Blogifier Version 1.5</figcaption>
        </figure>
        <figure>
            <img src="~/files/design/v1.5/02.jpg" alt="Posts List Style - Blogifier Version 1.5" />
            <figcaption>Post List Style - Blogifier Version 1.5</figcaption>
        </figure>
        <figure>
            <img src="~/files/design/v1.5/03.jpg" alt="Post Grid Style - Blogifier Version 1.5" />
            <figcaption>Post Grid Style - Blogifier Version 1.5</figcaption>
        </figure>
        <figure>
            <img src="~/files/design/v1.5/04.jpg" alt="Widgets - Blogifier Version 1.5" />
            <figcaption>Widgets - Blogifier Version 1.5</figcaption>
        </figure>
        <figure>
            <img src="~/files/design/v1.5/05.jpg" alt="Widget Settings - Blogifier Version 1.5" />
            <figcaption>Widget Settings - Blogifier Version 1.5</figcaption>
        </figure>
        <figure>
            <img src="~/files/design/v1.5/06.jpg" alt="Settings - Blogifier Version 1.5" />
            <figcaption>Settings - Blogifier Version 1.5</figcaption>
        </figure>
    </div>
</section>
