@{
    ViewData["Title"] = "Home Page";
}

<section class="container content">
    <h1 class="hero-title text-center">Blogifier, an <a href="https://github.com/blogifierdotnet/blogifier/" target="_blank">open soruce</a> blogging platform!</h1>
    <p class="hero-desc">Blogifier is simple, beautiful, light-weight open source blog written in .NET Core. It is cross-platform, extendable and customizable web application, that brings all expected from modern blog in small, portable package. By default, it uses file-based SQLite database, scaling up to any Entity-Framework compatible data storage.</p>
    <div class="owl-carousel slider slider-lg">
        <figure>
            <img src="~/files/01.png" alt="Post List - Blogifier Version 1.2" />
            <figcaption>Post List - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/02.png" alt="New Post - Blogifier Version 1.2" />
            <figcaption>New Post - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/03.png" alt="Edit Post - Blogifier Version 1.2" />
            <figcaption>Edit Post - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/04.png" alt="Settings - Blogifier Version 1.2" />
            <figcaption>Settings - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/05.png" alt="File Manager - Blogifier Version 1.2" />
            <figcaption>File Manager - Blogifier Version 1.2</figcaption>
        </figure>
    </div>
</section>
