@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <a class="navbar-brand" href="~/"><img src="~/assets/img/logo.png" alt="Blogifier"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/start">Get Started</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://blogifier.azurewebsites.net/" target="_blank">Demo</a></li>
                    <li class="nav-item download-link ml-lg-auto"><a class="nav-link" href="https://github.com/blogifierdotnet/blogifier/" target="_blank">Download</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section class="container content">
    <h1 class="hero-title text-center">Blogifier, an <a href="https://github.com/blogifierdotnet/blogifier/" target="_blank">open soruce</a> blogging platform!</h1>
    <div class="owl-carousel slider slider-lg">
        <figure>
            <img src="~/files/01.png" alt="Post List - Blogifier Version 1.2" />
            <figcaption>Post List - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/02.png" alt="New Post - Blogifier Version 1.2" />
            <figcaption>New Post - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/03.png" alt="Edit Post - Blogifier Version 1.2" />
            <figcaption>Edit Post - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/04.png" alt="Settings - Blogifier Version 1.2" />
            <figcaption>Settings - Blogifier Version 1.2</figcaption>
        </figure>
        <figure>
            <img src="~/files/05.png" alt="File Manager - Blogifier Version 1.2" />
            <figcaption>File Manager - Blogifier Version 1.2</figcaption>
        </figure>
    </div>
</section>
